.pagination{
	height:30px;
	border:1px solid blue;
	background:#eee;
	position:absolute;
	bottom:0px;
	right:0px;
	width:100%
}
.pagination span{
	font-size:12px;
}
.page-first,.page-prev,.page-next,.page-last,.page-wait{
	padding:2px;
	border:0;
}
.page-num{
	width:30px;
	border:1px solid #ccc;
}
