@charset "utf-8";
* { margin:0;padding:0;border:0;}
* html ul li{ height:1%;float:left;}
* html ul li a {height:1%;}

a:link,a:visited{ color:#000000;font-size:12px;font-weight:normal;text-decoration:none;}
a:hover,a:active{ color:#0e61a9;font-size:12px;font-weight:normal;text-decoration:underline;}
.sel{
	width:140px;
	margin:0 0 0 8px;
	padding:0;
	border:solid 1px #c0c0c0;
	height:20px;
	}

	
table.searchtab tr td input.con{
	border:solid 1px #c0c0c0;
	margin:0 0 0 14px;
	padding:0;
	width:140px;
	height:18px
	}
	
table.searchtab tr td input.conDate{
	background:#fff url(dot_calendar.gif) no-repeat right;
	border:solid 1px #c0c0c0;
	margin:0 0 0 14px;
	padding:0;
	width:140px;
	height:18px
	}
.searchBtn{
	background:url(../../images/searchBtn_03a.gif);
	width:60px;
	height:22px;
	cursor:pointer;
	float:right;
	}	
.rpttitle
{	
	height:30px;
	float:left;
	width:100%;
	border-bottom:solid 1px #c0c0c0;
	background-image:url(../../images/common/bgimg_tit10.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	overflow:hidden;
	line-height:30px;
	text-align:left;
}
.rpttitle span{
	padding:0 5px;
	line-height:26px;
	overflow:hidden;
	color:#0e61a9;
	font-weight:bold;
	font-size:12px;
	display:block;
	text-align:left;
	float:left;
	white-space:nowrap;
	}
	
.listrpttit{
	color:red;
	text-align:left;
	}
table.listViewBlue   /* 浅灰色  单表头  */
{
	width:100%;
	border-collapse:collapse;
	border:solid 1px #eeeeee;
	background-image:url(../../images/common/gray_GB01.gif);
	background-repeat:repeat;
	background-position:left top;
	table-layout:fixed
	}
.autocuttd{
	text-align:left; padding-left:5px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:keep-all;
	}
table.listViewBlue tr td{
	border:solid 1px #eeeeee;
	line-height:22px;
	padding:1px 0px 1px 3px;
	text-align:center;
	font-size:12px;}
table.listViewBlue tr td.listTit,table.listViewBlue tr th 
{background-image:url(../../images/common/subtit02.jpg);
	background-repeat:repeat-x;
	background-position:left 1px;
	background-color:#ffffff;
 	border-top:solid 1px #ffffff;
 	border-right:solid 1px #fdfdfd;
 	color:#0072ad;
	font-weight:normal;
	font-size:12px;
	text-align:center;
	overflow:hidden;
	line-height:22px;
	padding:1px;}
table.listViewBlue tr.listBotom td{background-color:#c6edff;}

table.viewTable{
	width:100%;
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	line-height:22px;
	padding-left: 5px;
	padding-right: 5px;
}

.onmsover{
	background:#ffb;
}

.frame_MorNews
{ position:relative;margin-top:10px;margin-left:1px;margin-right:12px;text-align:left;}
.MorNewsName
{ width:158px;height:70px;display:block;float:left;overflow:hidden;background-image:url(../images/imgBG_frame.gif);background-repeat:no-repeat;background-position:center center;
  color:#000000;font-size:14px;font-weight:bold;text-align:center;line-height:75px;height:85px;}
.MorNewsTit
{ width:79%;height:24px;line-height:24px;display:block;overflow:hidden;clear:right;padding-top:3px;}
.MorNewsMem
{ width:79%;line-height:18px;display:block;float:left;overflow:hidden;clear:right;padding-top:6px;padding-bottom:7px;}
.doshedSty1
{background-image:url(../images/icon_xuxian.gif);background-repeat:repeat-x;background-position:center center;width:100%;height:12px;display:block;clear:both;}
.doshedSty2
{background-image:url(../images/icon_xuxian.gif);background-repeat:repeat-x;background-position:center top;width:100%;height:3px;display:block;clear:left;overflow:hidden;}
.clearSty
{clear:both;width:1px;display:block;height:3px;}
/*  end  */

body {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	width:100%;
}




.padd_top
{ padding-top:9px;}
.padd_left
{ padding-left:10px;}
.padd_right
{ padding-right:10px;}





/*  列表页面搜索栏    */
.search_bar{
	float:left;
	text-align:left;
	width:100%;
	background:#F2F2F2 url(../../images/htsd/table_titbg2.gif) repeat-x;
	}
.divContent{
	padding:5px;
	overflow:auto;
	height:100%;
	width:100%;
	vertical-align:top;
}
.search_bar table tr td{
	padding:2px 10px 2px 10px;
	}
/*  列表页面信息栏   */
.info_bar{
	text-align:left;
	width:100%;
	color:#00559F;
	font-weight:bold;
	background:#D6F2F8 url(../../images/rpt/rpt_tit_bak.gif) repeat-x;
}

.border06  /*  新增表格下划线样式    */
{ border-bottom:solid 1px #dff1ff;border-right:solid 1px #dff1ff;padding-left:5px;padding-right:5px;}
.unred02:link,.unred02:visited{color:red;font-size:14px;text-decoration:none;}
.unred02:hover,.unred02:active{text-decoration:underline;font-size:14px;}

/*   内页头部位置定义样式   */
.arrHomeSty
{ background-image:url(../../images/rpt/subpage_topL.gif);
  background-repeat:repeat-x;
  background-position:left top;
  height:35px;width:100%;
  display:block;overflow:hidden;
}
.arrHomeSty div
{ background-image:url(../../images/rpt/subpage_topR.gif);
  background-repeat:no-repeat;
  background-position:right top;
  height:35px;display:block;
  width:100%;
}
 /*  SiteMap 开始 */ 
.homeArrow
{ padding-left:30px;
  height:35px;line-height:35px;
  display:block;
  line-height:40px;
  text-align:left;
  background-image:url(../../images/rpt/dot_home1.gif);
  background-repeat:no-repeat;
  background-position:4px 9px;color:#ffffff;font-size:12px;
}
 /*   SiteMap 开始 */ 

