@charset "utf-8";
/* CSS Document */

body{ 
	padding: 0px;
	margin: 0px;
	FONT: 12px/1.6em Helvetica, Arial, sans-serif;
	text-align:center;
	color:#000000;
}

a.reb:link {color: #F00; text-decoration: none;}
a.black:link {color: #000000; text-decoration: none;}
a.black:hover{TEXT-DECORATION:underline;color: red;}
a.reb:visited {color: #F00; text-decoration: none;}
a.reb:hover {color: #F00; text-decoration:underline;}
a.reb:active {color: #F00; text-decoration: none;}


.table_tit {
	height:20px;
	color:#06F;
	background-image:url(../images/rpt/table_titbg.gif);
}

.tit {
	width:100%;
	height:27px;
	padding-top:3px;
	background-image:url(../images/rpt/titbg.gif);
}

.tit_tit {
	color:#06F;
	font-weight:bold;
}
